.profile-imagen-1 {
  width: 80px;
  height: 80px;
  background-image: url("../img/animals.png");
  background-position: -10px -26px; /* ajusta las coordenadas a tu necesidad */
  background-repeat: no-repeat;
}

.profile-imagen-2 {
  width: 80px;
  height: 80px;
  background-image: url("../img/animals.png");
  background-position: -120px -26px; /* ajusta las coordenadas a tu necesidad */
  background-repeat: no-repeat;
}

.profile-imagen-3 {
  width: 80px;
  height: 80px;
  background-image: url("../img/animals.png");
  background-position: -220px -26px; /* ajusta las coordenadas a tu necesidad */
  background-repeat: no-repeat;
}

.profile-imagen-4 {
  width: 80px;
  height: 80px;
  background-image: url("../img/animals.png");
  background-position: -320px -26px; /* ajusta las coordenadas a tu necesidad */
  background-repeat: no-repeat;
}
