{% extends "base.html" %} 
{% block content %}
<h1>Game "{{ object.title }}"</h1>

<h2>Game details</h2>
<ul>
    <li>Deck: <b>{{ object.deck.count }}</b> cards</li>
    <li>Discarded: <b>{{ object.discard_deck.count }}</b> cards (Last discarded: {{ object.discard_deck.last }})</li>
</ul>

<h2>Timeline (<small class="small">{{ object.timeline.cards.count }} cards</small>)</h2>

<ol class="list-inline">
    {% for c in object.timeline.cards.all %}
        <li class="list-inline-item">
            {% include 'engine/card_basic.html' with card=c %}
        </li>
    {% endfor %}
</ol>


<h2>Players</h2>
<ol>
    {% for p in object.players.all %}
        <li>
            {{ p.name }} 
            <a class="small" href="{% url 'engine:user_game_details' object.pk p.name %}">player's game link</a>
        </li>
    {% endfor %}
</ol>


<ol>
    {% for p in object.players.all %}
        <li>
            {{ p.name }} cards: {{ p.cards.count }} (<a href="{% url 'engine:user_game_details' object.pk p.name %}">link</a>)

            <ol class="list-inline">
                {% for c in p.cards.all %}
                    <li class="list-inline-item">
                        {% include 'engine/card_basic.html' with card=c %}
                    </li>
                {% endfor %}
            </ol>            

        </li>
    {% endfor %}
</ol>


{% endblock %}