{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <h2>Single Player Game</h2>
        <div class="box">
            👉 Tenés <strong>20 segundos para ordenar cronologicamente</strong>
            {{game.deck_size}} sucesos históricos. </br>
            </br>🫶  ¡Cada día una serie nueva de eventos para jugar! </br>
        </div>
        
        <div class="buttons">
            <a href="start_game"> ¡Empezar! </a>
        </div>

        <h2>Tu mano:</h2>
        <div>
            {% for card in game.timeline.cards.values %}
            </br>
            {{card.date.year}} {{card.id}} {{card.text}}
            </br>
            {% endfor %}
        </div>

    </div>
{% endblock %}
