{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <h2>Single Player Game</h2>
        <div class="game-container">
            <div class="timeline">
                {% for card in game.timeline.cards.values %}
                <div class="timeline-cards" data-index="{{card.id}}" draggable="true">
                    <strong> ???? </strong> | {{ card.text }}
                </div>
            {% endfor %}
            </div>
        </div>
    </div>

<div id="order">
    <script src="{% static 'js/drag_drop.js' %}"></script>
</div>

<form onsubmit="send_order()" action="{% url 'singleplayer:singleplayer_end' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="answer" id="answer_sent"> 
    <button type="submit">Submit!</button>
</form>

<script>
    function send_order() {
    // Complete values into the form
        document.getElementById("answer_sent").value = order;
    }
</script>


{% endblock %}
