{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="container">
        <h2>Results!</h2>
            <div class="timeline">
            {% for result in results %}
                {% if result.1 == result.0.id %}
                <div class="timeline-cards disable correct_order">
                    <strong>{{ result.0.date|date:"d-M-Y"}}</strong> | {{ result.0.text }}
                </div>
                {% else %}
                <div class="timeline-cards disable incorrect_order">
                    {{ result.0.date|date:"d-M-Y"}} | {{ result.0.text }}
                </div>
                {% endif %}

            {% endfor %}  
            </div>
    </div>
{% endblock %}
