{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <h2>Single Player Game</h2>
        <div class="game-container">
            <div class="timeline">
                {% for card in game.timeline.cards.values %}
                <div class="timeline-cards" data-index="{{card.id}}" draggable="true">
                <h5 class="card-title">
                    {{ card.date.year }}
                </h5>
                <div class="card-text"; style="overflow-y:auto;">
                    {{ card.text }}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div id="order">
    <script src="{% static 'js/drag_drop.js' %}"></script>
</div>
<script>
document.getElementById("order").value = document.getElementById("order").innerHTML;
</script>


<form action="{% url 'singleplayer:singleplayer_end' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="order" id="order">
    <button type="submit">Submit!</button>
</form>

{% endblock %}
