{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <!--This is where you can input all the css files. The files are in Django format and following the path from the 'static' file -->
    <link href="{% static 'bootstrap-5.2.3-dist/css/bootstrap.min.css' %}"
        rel="stylesheet" media="screen">
  <!--You can add in a navigation bar here if it stays the same across all pages-->

  </head>
  <body>
    <div class="container">
      {% block content %}{% endblock %}
    </div>
  </body>

  <footer>
    <!--Anything that repeats in your footer goes here-->
    </footer>
    
    <!--I input all of my javascript files at the end just in case the javascript doesn't execute then the page will still load-->
      <script src="{% static 'bootstrap-5.2.3-dist/js/bootstrap.min.js' %}"></script>
    
    
</html>
