{% extends "base.html" %} {% load static %} {% block head %}
<script src="{% static 'js/create_qr.js' %}"></script>
<link href="{% static 'css/play-room.css' %}" rel="stylesheet" media="screen" />

{{ block.super }} {% endblock %} {% block content %}

<div class="text-center">
  <div class="row justify-content-around">
    <div class="col-md-4">
      <div class="container my-4">
        <h1 class="text-center">Lista de Jugadores</h1>
        <hr />
        <div class="row row-cols-1 row-cols-md-3 g-4">
          {% for p in object.players.all %}
          <div class="col">
            <div class="col">
              <div class="card h-100">
                <div class="profile-imagen-{{forloop.counter}}"></div>
                <div class="card-body">
                  <h5 class="card-title">{{ p.name }}</h5>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
          <!-- Agrega más jugadores según sea necesario -->
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="container my-4">
        <h1 class="text-center">Configuraiones</h1>
        <hr />
        <p>Este es el contenido de la segunda columna.</p>
        <button type="button" class="btn btn-primary">Start</button>
        <button type="button" class="btn btn-secondary">End</button>
      </div>
    </div>
    <div class="row justify-content-around">
      <div id="qr-code"></div>
    </div>

    <a
      href="{% url 'frontend:user-play-view' bord_slug='aaa' %}"
      class="btn btn-primary btn-lg active"
      role="button"
      aria-pressed="true"
      >Start</a
    >
  </div>
  {% endblock %} {% block js_block %}
  <script src="{% static 'js/create_qr.js' %}"></script>
  {{ block.super }} {% endblock %}
</div>
