/* Cards and Timeline Look & Feel */

.game-container {
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 8px;
  font-size: 14px;
  width: 600px;
  padding: 8px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.timeline {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 100vw;
  padding: 0px 20px;
}

.timeline-cards {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 100vw;
  overflow-y: auto; 
}

.timeline-cards:hover {
  background-color: #f0f0f0;
}
