/* style.css */

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif; /* Added the custom font 'Roboto' */
    background: #005585;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 600px; /* Adjust the maximum width as per your preference */
    background-color: #fff; /* White background for the container */
    border: 5px solid #33a1de; /* Blue border color */
    border-radius: 10px; /* Rounded border corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
    padding: 20px; /* Added padding to create space between the border and content */
    text-align: center; /* Center the content inside the container */
}

h1 {
    font-size: 3rem;
    margin-bottom: 0.1rem;
    color: #34a1de; /* Blue color */
    text-align: center;
}

h2 {
    font-size: 1.5rem;
    color: #23a1de;
    margin: 0 0 1rem;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

a {
    display: inline-block;
    padding: 12px 20px; /* Added padding around the text in buttons */
    border-radius: 4px;
    background-color: #8d77ab; /* Purple color */
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500; /* Added font weight for better readability */
    font-family: 'Roboto', sans-serif; /* Use the custom font 'Roboto' */
    transition: background-color 0.3s, transform 0.2s ease-in-out; /* Added a transition effect */
}

a:hover {
    background-color: #6b5685; /* Darker purple color on hover */
    transform: scale(1.1); /* Scale up the button on hover */
}

footer {
    color: white;
    margin: 1.5rem;
}
